/* Global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 body {
  min-height: 100vh;
  display: block;
  justify-content: initial;
  align-items: initial;
  background: #1397c5;
  color: #fff;
  overflow: visible;
}

.footer {
  background-color: #096688;
  color: var(--color-white);
  padding: 30px 0;
  text-align: center
}

.footer a {
  color: WHITE;
  margin: 0 10px;
  font-size: 1rem;
}

.footer a:hover {
  color: 1.2rem;
}


.footer p {
  font-size: 1.3rem;
}
