/* Global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 body {
  min-height: 100vh;
  display: block;
  justify-content: initial;
  align-items: initial;
  background: #1397c5;
  color: #fff;
  overflow: visible;
}